{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todoapp/css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {% if use.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="">Login</a>
                <a href="">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <!-- this is a content block to display all the rest of the content from the pages inheriting this base-->
    {% block content %}
    {% endblock %}
</div>
</body>
</html>